<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Summarizer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.3/marked.min.js"></script>
    <style>
        .chat-container {
            height: calc(100vh - 220px);
            overflow-y: auto;
        }
        .tooltip{
            visibility: hidden;
            position: absolute;
        }
        .has-tooltip:hover .tooltip {
            visibility: visible;
            z-index: 100;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <div id="chat-container" class="chat-container bg-white rounded-lg shadow p-4 mb-4"></div>
        <div class="mb-4">
            <button id="new-conversation" class="bg-green-500 text-white rounded p-2 text-sm fa-solid fa-plus"></button>
            <button id="view-conversations" class="bg-blue-500 text-white rounded p-2 text-sm fa-solid fa-eye"></button>
            <button id="save-conversation" class="bg-blue-500 text-white rounded p-2 text-sm fa-solid fa-floppy-disk"></button>
            <button id="delete-conversation" class="bg-red-500 text-white rounded p-2 text-sm fa-solid fa-trash-can"></button>
            <button id="share-conversation" class="bg-blue-500 text-white rounded p-2 text-sm fa-solid fa-share-square"></button>
            <button id="settings-button" class="bg-gray-500 text-white rounded p-2 text-sm ml-2 fa-solid fa-sliders-h"></button>
            <button id="toggle-prompts" class="bg-gray-500 text-white rounded p-2 text-sm fa-solid fa-comment-dots"></button>
        </div>
        <div id="common-prompts" class="mb-4 flex flex-wrap gap-2 hidden"></div>
        <form id="chat-form" class="flex flex-col space-y-2">
            <div class="flex space-x-2">
                <input type="text" id="url-input" class="border rounded p-2 flex-grow" placeholder="Enter URL" value={{urls}}>
                <label for="file-input" class="cursor-pointer bg-blue-500 text-white text-xl rounded p-2 fa-solid fa-paperclip"></label>
                <input type="file" id="file-input" class="hidden" multiple>
                <button type="submit" class="bg-blue-500 text-white rounded p-2">Send</button>
            </div>
            <textarea id="user-input" class="border rounded p-2 w-full" rows="2" placeholder="Type your message...", value={{prompt}}></textarea>
        </form>
    </div>

    <div id="conversations-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden items-center justify-center">
        <div class="bg-white p-4 rounded-lg w-11/12 h-5/6 overflow-auto">
            <button id="close-conversations" class="mt-4 p-2 float-right fa-solid fa-close"></button>
            <h2 class="text-xl font-bold mb-4">Conversations</h2>
            <input type="text" id="filtering-input" class="border rounded p-2 w-full" placeholder="Search">
            <div class="mb-4">
                <label class="flex items-center">
                    <input type="checkbox" id="query_db" name="query_db" class="mr-2">
                    History in Database
                </label>
            </div>
            <div id="conversations-list"></div>
            <div id="load-more" class="text-center py-4 hidden">
                <span class="text-blue-500 cursor-pointer">Load More</span>
            </div>
        </div>
    </div>

    <div id="settings-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden items-center justify-center">
        <div class="bg-white p-4 rounded-lg w-5/6">
            <h2 class="text-xl font-bold mb-4">Settings</h2>
            <form id="settings-form">
                <div class="mb-4">
                    <label for="api_key" class="block mb-2">API-KEY:</label>
                    <input type="text" id="api_key" name="api_key" class="border rounded p-2 w-full">
                </div>
                <div class="mb-4 has-tooltip">
                    <label for="model" class="block mb-2">Model:</label>
                    <span class='tooltip rounded shadow-lg p-1 bg-gray-100 -mt-8'>models/gemini-1.5-flash models/gemini-1.5-pro models/gemini-1.5-pro-exp-0827</span>
                    <input type="text" id="model" name="model" class="border rounded p-2 w-full">
                </div>
                <div class="mb-4">
                    <label for="scraper" class="block mb-2">Scraper:</label>
                    <select id="scraper" name="scraper" class="border rounded p-2 w-full">
                        <option value="jina">jina</option>
                        <option value="firecrawl">firecrawl</option>
                        <option value="magic_markdownify">magic_markdownify</option>
                        <option value="readability_markdownify">readability_markdownify</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label class="flex items-center">
                        <input type="checkbox" id="srt_to_txt" name="srt_to_txt" class="mr-2">
                        Convert SRT to TXT
                    </label>
                </div>
                <div class="mb-4">
                    <label class="flex items-center">
                        <input type="checkbox" id="pdf_to_markdown" name="pdf_to_markdown" class="mr-2">
                        Convert PDF to Markdown
                    </label>
                </div>
                <div class="mb-4">
                    <label class="flex items-center">
                        <input type="checkbox" id="transcribe" name="transcribe" class="mr-2" checked>
                        Transcribe audio files
                    </label>
                </div>
                <div class="mb-4">
                    <label class="flex items-center">
                        <input type="checkbox" id="extract_images" name="extract_images" class="mr-2">
                        Extract markdown images
                    </label>
                </div>
                <button type="submit" class="bg-blue-500 text-white rounded p-2">Save</button>
                <button type="button" id="close-settings" class="bg-red-500 text-white rounded p-2 ml-2">Close</button>
            </form>
        </div>
    </div>

    <div id="share-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden items-center justify-center">
        <div class="bg-white p-4 rounded-lg w-11/12">
            <h2 class="text-xl font-bold mb-4">Share</h2>
            <form id="share-form">
                <textarea id="markdown" name="c" rows="16" class="border rounded p-2 w-full"></textarea>
                <div class="mb-4">
                    <label class="flex items-center">
                        Expires time:
                        <input type="text" id="e" name="e" class="border rounded p-2" value="3d" placeholder="Expires at">
                    </label>
                </div>
                <button type="submit" class="bg-blue-500 text-white rounded p-2 text-sm">Publish</button>
            </form>
            <div class="flex space-x-2">
                <input type="text" id="share-url" name="share-url" class="border rounded text-sm flex-grow">
                <button id="preview" class="bg-blue-500 text-white rounded p-2 text-sm fa-solid fa-up-right-from-square"></button>
            </div>
        </div>
    </div>

    <script>
        let currentConversationId = null;
        let currentOffset = 0;
        const BASE_URL = "";
        const PASTEBIN_URL = 'https://shz.al/';

        const settings = {
            api_key: localStorage.getItem('api_key') || '',
            model: localStorage.getItem('model') || 'models/gemini-1.5-flash',
            scraper: localStorage.getItem('scraper') || 'jina',
            srt_to_txt: JSON.parse(localStorage.getItem('srt_to_txt')) || false,
            pdf_to_markdown: JSON.parse(localStorage.getItem('pdf_to_markdown')) || false,
            extract_images: JSON.parse(localStorage.getItem('extract_images')) || false,
            transcribe: JSON.parse(localStorage.getItem('transcribe')) || true,
        };

        const commonPrompts = [
            "请将这些图片中的文字提取出来。",
            "请总结这篇文章的主要内容。",
            "请总结这篇论文的主要内容与发现。",
            "请根据视频字幕总结主持人的主要观点",
            "请根据这篇视频转录稿总结主持人的主要观点",
            "请根据这篇音频转录稿总结主持人的主要观点"
        ]

        function createCommonPrompts() {
            const container = document.getElementById('common-prompts');
            commonPrompts.forEach(prompt => {
                const button = document.createElement('button');
                button.textContent = prompt;
                button.className = 'bg-gray-200 text-gray-700 rounded p-2';
                button.addEventListener('click', () => {
                    document.getElementById('user-input').value = prompt;
                    container.classList.add('hidden');
                });
                container.appendChild(button);
            });
        }

        async function createConversation(files, urls) {
            let response;
            const paperclip_label = document.getElementById('file-input').labels[0];
            paperclip_label.classList.add('animate-bounce')

            if (files && files.length > 0) {
                const formData = new FormData();
                Array.from(files).forEach(file => formData.append('files', file));
                urls.forEach(url => formData.append('urls', url));
                Object.keys(settings).forEach(key => formData.append(key, settings[key]));    

                response = await fetch('/conversations', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${settings.api_key}`
                    },
                    body: formData
                });
            } else {
                response = await fetch('/conversations', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${settings.api_key}`
                    },
                    body: JSON.stringify({ ...settings, urls })
                });
            }

            paperclip_label.classList.remove('animate-bounce')
            if (!response.ok) {
                showWarningOnButton(paperclip_label);
                throw new Error('Failed to create conversation');
            }

            const data = await response.json();
            loadConversation(data.conversation_id);
            return data.conversation_id;
        }

        async function sendMessage(conversationId, message) {
            const send_button = document.querySelector('#chat-form button[type="submit"]')
            const spiner = document.createElement('i');
            spiner.className = "fa-solid fa-spinner animate-spin";
            send_button.appendChild(spiner);

            const response = await fetch(`${BASE_URL}/conversations/${conversationId}/messages`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${settings.api_key}`
                },
                body: JSON.stringify({ message })
            });

            spiner.remove();

            if (!response.ok) {
                throw new Error('Failed to send message');
            }

            const data = await response.json();
            return data.response;
        }

        function addMessageToChat(role, content) {
            const chatContainer = document.getElementById('chat-container');
            const messageElement = document.createElement('div');
            messageElement.className = `mb-2 ${role === 'user' ? 'text-right' : 'text-left'}`;
            messageElement.innerHTML = `
                <div class="inline-block bg-${role === 'user' ? 'blue' : 'gray'}-200 rounded px-2 py-1">
                    ${marked(content)}
                </div>
            `;
            chatContainer.appendChild(messageElement);
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        function addRetryToChat(message) {
            const chatContainer = document.getElementById('chat-container');
            const messageElement = document.createElement('div');
            messageElement.className = 'mb-2 text-left';
            messageElement.innerHTML = `
                <div class="inline-block bg-gray-200 rounded px-2 py-1 cursor-pointer">
                    An error occurred. Please try again.
                </div>
            `;
            messageElement.addEventListener('click', async (e) => {
                const response = await sendMessage(currentConversationId, message);
                addMessageToChat('assistant', response);
                e.target.remove()
            })
            chatContainer.appendChild(messageElement);
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        function clearMessageFromChat() {
            const chatContainer = document.getElementById('chat-container');
            chatContainer.innerHTML = '';
        }

        async function fetchConversations(offset=0, limit=10) {
            const query_db = document.getElementById('query_db').checked;
            const filtering = document.getElementById('filtering-input').value;
            
            const response = await fetch(`${BASE_URL}/conversations?offset=${offset}&limit=${limit}&db=${query_db}&filtering=${filtering}`,{
                headers: {'Authorization': `Bearer ${settings.api_key}`}
            });
            
            if (!response.ok) {
                throw new Error('Failed to fetch conversations');
            }
            return response.json();
        }

        function formatConversations(conversations, clear=false) {
            const list = document.getElementById('conversations-list');
            if (clear) {
                list.innerHTML = '';
                currentOffset = 0;
            }
            conversations.forEach(conv => {
                const item = document.createElement('div');
                item.className = 'mb-4 p-2 border rounded';
                item.innerHTML = `
                    <p><strong>ID:</strong> ${conv.id}</p>
                    <p><strong>Timestamp:</strong> ${new Date(conv.timestamp).toISOString()}</p>
                    <p><strong>URLs:</strong> ${conv.urls.join(', ') || 'None'}</p>
                    <p><strong>Files:</strong> ${conv.files.join(', ') || 'None'}</p>
                    <p><strong>Uploaded Files:</strong> ${Object.values(conv.ready_files).join(', ') || 'None'}</p>
                    <button class="bg-blue-500 text-white rounded p-2 text-sm fa-solid fa-file-import"><button>
                    <button class="bg-blue-500 text-white rounded p-2 text-sm fa-solid fa-share-from-square"><button>
                    <button class="bg-red-500 text-white rounded p-2 text-sm fa-solid fa-trash-can"><button>
                `;
                item.querySelector('button.fa-file-import').addEventListener('click', () => {
                    currentConversationId = conv.id;
                    document.getElementById('conversations-modal').classList.add('hidden');
                    loadConversation(conv.id);
                });
                item.querySelector('button.fa-share-from-square').addEventListener('click', (e) => {
                    loadConversationMarkdown(conv.id);
                    document.getElementById('share-modal').classList.remove('hidden');
                    document.getElementById('share-modal').classList.add('flex');
                });
                item.querySelector('button.fa-trash-can').addEventListener('click', (e) => {
                    deleteConversation(conv.id);
                    e.target.parentElement.remove()
                });
                list.appendChild(item);
            });
        }

        async function listConversations(offset=0, limit=10, clear=true) {
            try {
                console.log(offset, limit);
                const conversations = await fetchConversations(offset, limit);
                formatConversations(conversations, clear);
                if(conversations.length > 0){
                    currentOffset += limit;
                    document.getElementById('load-more').classList.remove('hidden');
                }else{
                    document.getElementById('load-more').classList.add('hidden');
                }
                document.getElementById('conversations-modal').classList.remove('hidden');
                document.getElementById('conversations-modal').classList.add('flex');
                return conversations;
            } catch (error) {
                console.error('Error:', error);
            }
        }

        async function newConversation() {
            currentConversationId = null
            clearMessageFromChat();
        }

        async function loadConversation(conversationId) {
            const response = await fetch(`${BASE_URL}/conversations/${conversationId}/json`,{
                headers: {'Authorization': `Bearer ${settings.api_key}`}
            });
            if (!response.ok) {
                throw new Error('Failed to load conversation');
            }
            const data = await response.json();
            
            data.forEach(msg => {
                const content = msg.parts.map(function(part){
                    if(!part.hasOwnProperty('file_data')){
                        return part
                    }else{
                        return ''
                    }
                }).join('\n')
                if(content != ''){
                    clearMessageFromChat();
                    addMessageToChat(msg.role, content);
                }
            });
        }

        async function saveConversation(){
            const save_button = event.target;
            event.target.classList.add('animate-bounce');
            
            const response = await fetch(`${BASE_URL}/conversations/${currentConversationId}`, {
                method: 'PUT',
                headers: {'Authorization': `Bearer ${settings.api_key}`}
            });

            setTimeout(() => {save_button.classList.remove('animate-bounce')}, 1000);
            if (!response.ok) {
                showWarningOnButton(save_button);
                throw new Error('Failed to delete conversation');
            }
        }

        async function deleteConversation(conversationId){
            const delete_button = event.target;
            delete_button.classList.add('animate-ping');

            const response = await fetch(`${BASE_URL}/conversations/${conversationId}`, {
                method: 'DELETE',
                headers: {'Authorization': `Bearer ${settings.api_key}`}
            });

            setTimeout(() => {delete_button.classList.remove('animate-ping')}, 1000);
            if (!response.ok) {
                showWarningOnButton(delete_button);
                throw new Error('Failed to delete conversation');
            }else{
                if(conversationId == currentConversationId){
                    currentConversationId = null
                }
            }
        }

        async function loadConversationMarkdown(conversationId){
            const response = await fetch(`${BASE_URL}/conversations/${conversationId}/markdown`, {
                headers: {'Authorization': `Bearer ${settings.api_key}`}
            });
            if (!response.ok) {
                throw new Error('Failed to load conversation markdown');
            }
            document.getElementById('markdown').value = await response.text();
        }

        function applySettings(){
            Object.entries(settings).forEach(entry => {
                const [key, value] = entry;
                document.getElementById(key).value = value
            })
        }

        function saveSettings(){
            Object.entries(settings).forEach(entry => {
                const [key, value] = entry;
                localStorage.setItem(key, value);
            })
        }

        function updateSettingsFromParams(urlParams) {
            const valid_params = ['overwrite', 'extract_images', 'no_transcribe', 'pdf_to_markdown', 'timeout',
            'wait_for_selector', 'targe_selector', 'removeTags', 'onlyIncludeTags', 'onlyMainContent', 'scraper', 'srt_to_txt']
            if(urlParams.size == 0){
                return
            }
            urlParams.entries().forEach(entry => {
                const [key, value] = entry;
                if(valid_params.includes(key)){
                    if(['true', 'false'].includes(value.toLowerCase())){
                        settings[key] = value.toLowerCase() == 'true' ? true : false
                    }else{
                        settings[key] = value
                    }
                }
            })
            applySettings(settings);
            console.log(settings)
        }

        applySettings(settings);

        function showWarningOnButton(button) {
            setTimeout(() => {button.classList.add('fa-triangle-exclamation')}, 1000);
            setTimeout(() => {button.classList.remove('fa-triangle-exclamation')}, 5000);
        }

        document.getElementById('chat-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const userInput = document.getElementById('user-input');
            const fileInput = document.getElementById('file-input');
            const urlInput = document.getElementById('url-input');

            const message = userInput.value.trim();
            const files = fileInput.files;
            const urls = urlInput.value.split(' ').filter(x => x!="");

            if (!message && files.length === 0 && urls.length === 0) return;

            addMessageToChat('user', message || 'Uploading files/URLs...');

            try {
                if (!currentConversationId) {
                    currentConversationId = await createConversation(files, urls);
                }

                if(message != ""){
                    const response = await sendMessage(currentConversationId, message);
                    addMessageToChat('assistant', response);
                }
            } catch (error) {
                console.error('Error:', error);
                addRetryToChat(message)
            }

            userInput.value = '';
            fileInput.value = '';
            urlInput.value = '';
        });

        document.getElementById('user-input').addEventListener('keydown', async () => {
            if ((event.ctrlKey || event.metaKey) && event.key === 'Enter') {
                event.preventDefault();
                const userInput = document.getElementById('user-input');
                const message = userInput.value.trim();
                addMessageToChat('user', message);
                const response = await sendMessage(currentConversationId, message);
                addMessageToChat('assistant', response);
                userInput.value = '';
            }
        });

        document.getElementById('new-conversation').addEventListener('click', newConversation);

        document.getElementById('save-conversation').addEventListener('click', saveConversation);

        document.getElementById('view-conversations').addEventListener('click', () => {listConversations()});
        document.getElementById('query_db').addEventListener('click', () => {listConversations()});
        document.getElementById('filtering-input').addEventListener('change', () => {listConversations()});

        document.getElementById('delete-conversation').addEventListener('click', () => {deleteConversation(currentConversationId)});

        document.getElementById('close-conversations').addEventListener('click', () => {
            document.getElementById('conversations-modal').classList.add('hidden');
            document.getElementById('conversations-modal').classList.remove('flex');
        });

        document.getElementById('settings-button').addEventListener('click', () => {
            document.getElementById('settings-modal').classList.remove('hidden');
            document.getElementById('settings-modal').classList.add('flex');
        });

        document.getElementById('close-settings').addEventListener('click', () => {
            document.getElementById('settings-modal').classList.add('hidden');
            document.getElementById('settings-modal').classList.remove('flex');
        });

        document.getElementById('settings-form').addEventListener('submit', (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            for (let [key, value] of formData.entries()) {
                if (value === 'on') {
                    value = true;
                } else if (value === 'off') {
                    value = false;
                }
                settings[key] = value;
            }
            saveSettings()
            document.getElementById('settings-modal').classList.add('hidden');
            document.getElementById('settings-modal').classList.remove('flex');
        });

        document.getElementById('share-conversation').addEventListener('click', async () => {
            if(currentConversationId !== null){
                await loadConversationMarkdown(currentConversationId);
            }

            document.getElementById('share-modal').classList.remove('hidden');
            document.getElementById('share-modal').classList.add('flex');
        });

        document.getElementById('share-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);

            const response = await fetch(PASTEBIN_URL, {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Failed to publish');
            }

            const result = await response.json()

            document.getElementById('share-url').value = result.url.replace(PASTEBIN_URL, PASTEBIN_URL + 'a/');
        });

        document.getElementById('share-url').addEventListener('focus', (e) => {
            e.target.select()
        });

        document.getElementById('preview').addEventListener('click', () => {
            const url = document.getElementById('share-url').value;
            if(url !== ''){
                window.open(url, '_blank');
            }
        });

        document.getElementById('toggle-prompts').addEventListener('click', () => {
            const prompts = document.getElementById('common-prompts');
            if(!prompts.className.includes('hidden')){
                prompts.classList.add('hidden')
            }else{
                prompts.classList.remove('hidden')
            }
        });

        function setupInfiniteScroll() {
            const modalContent = document.querySelector('#conversations-modal > div');
            modalContent.addEventListener('scrollend', async () => {
                if (modalContent.scrollTop + modalContent.clientHeight >= modalContent.scrollHeight - 10) {
                    listConversations(currentOffset, 4, clear=false);
                }
            });
        }

        // Handle query string parameters
        window.addEventListener('load', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const urls = urlParams.get('urls');
            const prompt = urlParams.get('prompt');

            if (urls) {
                document.getElementById('url-input').value = urls;
            }

            if (prompt) {
                document.getElementById('user-input').value = prompt;
            }

            if (urls) {
                document.querySelector('button[type="submit"]').click();
            }

            updateSettingsFromParams(urlParams);
            createCommonPrompts();
            setupInfiniteScroll();
        });

        window.onclick = function(event) {
                if (event.target.id.endsWith('-modal')) {
                    event.target.classList.add('hidden');
                }
            };

        // Service Worker Registration
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/statics/service-worker.js')
                    .then(registration => {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    })
                    .catch(err => {
                        console.log('ServiceWorker registration failed: ', err);
                    });
            });
        }
    </script>
</body>
</html>